<ion-tabs>
  <ion-tab-bar slot="bottom" class="custom-tab-bar">

    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="book" href="/tabs/book">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Book</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="directory" href="/tabs/directory">
      <ion-icon name="business-outline"></ion-icon>
      <ion-label>Directory</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/tabs/settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
